@model List<Employee.UI.ViewModels.HomePageViewModel.HomeEmployeeViewModel>

@{
    ViewData["Title"] = "Home Page";
}

<link href="~/css/empindex.css" rel="stylesheet" />
<div class="text-center">
    <h1 class="display-1">Employee Portal</h1>
</div>
<br/>
<div class="row row-cols-1 row-cols-md-3 g-4">
    @if (Model != null)
    {
        @foreach (var item in Model)
        {
            <div class="col"> 
                <div class="card h-100">
                    <div class="img-container">
                        <img class="card-img-top" src="@item.EmployeeImage" alt="Card image cap">
                    </div>
                    <div class="card-body"> <h5 class="card-title">@item.EmployeeName</h5> 
                        <p class="card-text">@item.EmployeeDept</p> 
                        <a asp-action="Details" asp-route-id="@item.EmployeeId" class="btn btn-primary">See Details</a> 
                    </div> 
                </div> 
            </div>
        }
    }
    else
    {
        <p>No employees found.</p>
    }
</div>